@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --color-primary-50: #fef4f6;
    --color-primary-100: #f9dde4;
    --color-primary-200: #f4cbc7;
    --color-primary-300: #eb94a3;
    --color-primary-400: #e47289;
    --color-primary-500: #e47289;
    --color-primary-600: #e47289;
    --color-primary-700: #d45a75;
    --color-primary-800: #c44a68;
    --color-primary-900: #e47289;
    --color-primary-950: #d45a75;

    --color-rose-50: #fef4f6;
    --color-rose-100: #f9dde4;
    --color-rose-200: #f4cbc7;
    --color-rose-300: #eb94a3;
    --color-rose-400: #e47289;
    --color-rose-500: #e47289;
    --color-rose-600: #e47289;
    --color-rose-700: #d45a75;
    --color-rose-800: #c44a68;
    --color-rose-900: #e47289;
    --color-rose-950: #d45a75;

    --color-secondary-50: #f0f9ff;
    --color-secondary-100: #e0f2fe;
    --color-secondary-200: #bae6fd;
    --color-secondary-300: #7dd3fc;
    --color-secondary-400: #38bdf8;
    --color-secondary-500: #0ea5e9;
    --color-secondary-600: #0284c7;
    --color-secondary-700: #0369a1;
    --color-secondary-800: #075985;
    --color-secondary-900: #0c4a6e;
    --color-secondary-950: #082f49;
}

@layer base {
    body {
        @apply bg-gray-50 text-gray-800 antialiased;
    }
}
